 /* @media print { 
    *{transition:none!important;}

    thead {display: table-header-group !important; } 
    tfoot {display: table-footer-group !important;}
    
    button {display: none !important;}
    
    body {
        margin: 0 !important;
   
   }

    .encabezado-hoja
    {
        display: none !important;
    }
    .pie-hoja
    {
        display: none !important;
    }
 }  */